{{!-- Create Event <li> --}}
<li class="list-group-item">
    {{}}
    <button class="li-btn" data-id="{{id}}">Delete Party</button>
</li>

{{!-- Upcoming Events --}}

<li>
    {{event_name}}
    <button class="li-btn" type="button" data-id="{{id}}" data-toggle="collapse" data-target="{{}}"
        aria-expanded="false" aria-controls="eventInfo-upcoming">view</button>
</li>
<div class="collapse" id="{{}}">
    <div class="card card-body">
        <span>Theme:{{}}</span>
        <span>Date: {{}}</span>
        <span>Time:{{}}</span>
        <span>Location:{{}}</span>
        <hr />
        <span><button class="li-btn-delete" data-id="{{id}}">delete</button></span>
    </div>
</div>

{{!-- All Events --}}

<li class="list-group-item">
    Name of Event
    <button class="li-btn" data-id="" data-toggle="collapse"data-target="#eventInfo-all">View Event</button>
</li>
<div class="collapse" id="eventInfo-all">
    <div class="card card-body">
        <p class="host-name">Host: {{}}</p>
        <span>Theme: {{}}</span>
        <span>Location: {{}}</span>
        <span>Date: {{}}</span>
        <span>Time: {{}}</span>
        <hr />
        <button class="li-btn" data-id='{{id}}'>Attend Party</button>
    </div>
</div>